.form-group
  = f.input :number

.form-group
  = f.input :CVV

.form-group
  = f.input :expiration_month, collection: 1..12

.form-group
  = f.input :expiration_year, collection: Date.today.year..(Date.today.year + 10)

.form-group
  = f.input :first_name

.form-group
  = f.input :last_name