%small example: 378282246310005
= f.input :number
.row
  .col-sm-6= f.input :first_name
  .col-sm-6= f.input :last_name
.row
  .col-sm-4= f.input :CVV, input_html: {class: "cvv"}
  .col-sm-4= f.input :expiration_month, collection: 1..12, input_html: {class: "expiry-month text-center"}
  .col-sm-4= f.input :expiration_year, collection: Date.today.year..(Date.today.year + 10), input_html: {class: "expiry-year text-center"}
