= f.input :number
.row
  .col-sm-3= f.input :CVV, input_html: {class: "cvv"}
  .col-sm-3= f.input :expiration_month, collection: 1..12, input_html: {class: "expiry-month"}
  .col-sm-3= f.input :expiration_year, collection: Date.today.year..(Date.today.year + 10), input_html: {class: "expiry-year"}
  .col-sm-3
.row
  .col-sm-6= f.input :first_name
  .col-sm-6= f.input :last_name