.form-group
  = f.input :number

.form-group
  = f.input :CVV

.form-group
  = f.input :expiration_month

.form-group
  = f.input :expiration_year

.form-group
  = f.input :first_name

.form-group
  = f.input :last_name