%ul.nav.nav-pills
	= active_link_to wizard_path(:intro), wrap_tag: :li do
		%i.fa.fa-map-marker
		= t".intro"
	= active_link_to wizard_path(:address), wrap_tag: :li do
		%i.fa.fa-map-marker
		= t".address"
	= active_link_to wizard_path(:delivery), wrap_tag: :li do
		%i.fa.fa-truck
		= t".delivery"
	= active_link_to wizard_path(:payment), wrap_tag: :li do
		%i.fa.fa-credit-card
		= t".payment"
