%h2 Address
= render partial: "steps"

= form_tag wizard_path, method: :put do
  .row
    .col-md-5
      = simple_fields_for :shipping_address, @cart.shipping_address do |f|
        = render partial: "address_form", locals: {f: f}

    .col-md-5
      = simple_fields_for :billing_address, @cart.billing_address do |f|
        = render partial: "address_form", locals: {f: f}
    :javascript
      var inputs = $("[type='tel']");

      inputs.each(function(){
        // Insert new line after label
        var input = $(this);
        var label = $("[for='" + input.attr("id") + "']");
        $(label).after("<br />");
        // Mark input as phone number
        $(input).intlTelInput();
      });

  %button.btn.btn-primary.pull-right{:type=>"submit"}
    Next
    %i.fa.fa-arrow-right