= render "steps"

= form_tag wizard_path, method: :put do
  .row
    .col-md-4
      %h4= t".billing_address"
      = simple_fields_for :billing_address, @cart.billing_address do |f|
        = render partial: "users/registrations/address_form", object: f
    .col-md-4
      %h4= t".shipping_address"
      #shipping-address{:style=>"display: none;"}
        = simple_fields_for :shipping_address, @cart.shipping_address do |f|
          = render partial: "users/registrations/address_form", object: f
          = hidden_field_tag :use_billing_address, "yes"
      .checkbox
        %label
          %input#use-billing-address{:type=>"checkbox", :checked=>"1"}= t".use_billing_address"
      %button.btn.btn-primary.pull-right{:type=>"submit"}
        = t".save_and_continue"
        %i.fa.fa-arrow-right
    .col-md-4= render "summary", cart: @cart


    :javascript
      var inputs = $("[type='tel']");

      inputs.each(function(){
        // Insert new line after label
        var input = $(this);
        var label = $("[for='" + input.attr("id") + "']");
        $(label).after("<br />");
        // Mark input as phone number
        $(input).intlTelInput();
      });

      $("#use-billing-address").change(function() {
          if(this.checked) {
            $("#shipping-address").fadeOut();
            $("#use_billing_address").val("yes");
          }else{
            $("#shipping-address").fadeIn();
            $("#use_billing_address").val("no");
          }
      });

