= render partial: "steps"

%h2= t".address"
= form_tag wizard_path, method: :put do
  .row
    .col-md-5
      %h4= t".billing_address"
      = simple_fields_for :billing_address, @cart.billing_address do |f|
        = render partial: "users/registrations/address_form", object: f
    .col-md-5
      %h4= t".shipping_address"
      #shipping-address
        = simple_fields_for :shipping_address, @cart.shipping_address do |f|
          = render partial: "users/registrations/address_form", object: f
          = hidden_field_tag :use_billing_address, "no"
      .checkbox
        %label
          %input#use-billing-address{:type=>"checkbox"}= t".use_billing_address"


    :javascript
      var inputs = $("[type='tel']");

      inputs.each(function(){
        // Insert new line after label
        var input = $(this);
        var label = $("[for='" + input.attr("id") + "']");
        $(label).after("<br />");
        // Mark input as phone number
        $(input).intlTelInput();
      });

      $("#use-billing-address").change(function() {
          if(this.checked) {
            $("#shipping-address").hide();
            $("#use_billing_address").val("yes");
          }else{
            $("#shipping-address").show();
            $("#use_billing_address").val("no");
          }
      });

  %button.btn.btn-primary.pull-right{:type=>"submit"}
    = t".save_and_continue"
    %i.fa.fa-arrow-right