= render partial: "steps"

%h2 Confirm
.row
  .col-md-4
    .panel.panel-success
      .panel-heading
        %h3.panel-title
          %i.fa.fa-map-marker
          Shipping address
      .panel-body
        %p= @cart.shipping_address.address
        %p= @cart.shipping_address.city
        %p= @cart.shipping_address.zip_code
        %p= link_to 'Edit', wizard_path(:address)
  .col-md-4
    .panel.panel-success
      .panel-heading
        %h3.panel-title
          %i.fa.fa-map-marker
          Billing address
      .panel-body
        %p= @cart.billing_address.address
        %p= @cart.billing_address.city
        %p= @cart.billing_address.zip_code
        %p= link_to 'Edit', wizard_path(:address)
  .col-md-2
    .panel.panel-success
      .panel-heading
        %h3.panel-title
          %i.fa.fa-truck
          Delivery
      .panel-body
        %p= @cart.delivery_service.name
        %p= link_to 'Edit', wizard_path(:delivery)

  .col-md-2
    .panel.panel-success
      .panel-heading
        %h3.panel-title Credit Card
      .panel-body
        %p= @cart.credit_card.number
      %p= link_to 'Edit', wizard_path(:payment)

%table.table.table-stripped
  %thead
    %tr
      %th Book
      %th Price
      %th QTY
      %th Total
  %tbody
  - @cart.order_items.each do |order_item|
    %tr
      %td= order_item.book
      %td= order_item.book.price
      %td= order_item.quantity
      %td= order_item.price

= link_to 'Place Order', next_wizard_path, class: "btn btn-success"