= render "steps"

%h2= t".confirm"
.row
  .col-md-3
    .panel.panel-success
      .panel-heading
        %h3.panel-title
          %i.fa.fa-map-marker
          =t ".shipping_address"
      .panel-body
        %p= @cart.shipping_address.address
        %p= @cart.shipping_address.city
        %p= @cart.shipping_address.zip_code
        %p= link_to (t".edit"), wizard_path(:address)
  .col-md-3
    .panel.panel-success
      .panel-heading
        %h3.panel-title
          %i.fa.fa-map-marker
          =t ".billing_address"
      .panel-body
        %p= @cart.billing_address.address
        %p= @cart.billing_address.city
        %p= @cart.billing_address.zip_code
        %p= link_to (t".edit"), wizard_path(:address)
  .col-md-3
    .panel.panel-success
      .panel-heading
        %h3.panel-title
          %i.fa.fa-truck
          = t".delivery"
      .panel-body
        %p= @cart.delivery_service.name
        %p= link_to (t".edit"), wizard_path(:delivery)

  .col-md-3
    .panel.panel-success
      .panel-heading
        %h3.panel-title
          %i.fa.fa-credit-card
          =t ".credit_card"
      .panel-body
        %p= secure_credit_card_number(@cart.credit_card.number)
      %p= link_to (t".edit"), wizard_path(:payment)

%table.table.table-stripped
  %thead
    %tr
      %th=t".book"
      %th=t".price"
      %th=t".qty"
      %th=t".total"
  %tbody
  - @cart.order_items.each do |order_item|
    %tr.cart_item
      %td
        = image_tag order_item.book.cover.thumbnail.url
        = link_to order_item.book_title, order_item.book
      %td= number_to_currency order_item.book_price
      %td= order_item.quantity
      %td= number_to_currency order_item.price

= link_to (t".place_order"), wizard_path, class: "btn btn-success", method: :put