%h1= @author

.row
  .col-sm-5
    = image_tag @author.photo.url
  .col-sm-7
    %h3= t ".biography"
    %p= @author.biography

%h2= t".books"
.books.autoplay
  = render @author.books

:javascript
  $('.autoplay').slick({
    slidesToShow: 5,
    slidesToScroll: 1,
    autoplay: true,
    autoplaySpeed: 2000,
  });