%a.best-seller{:href=>book_path(book), "data-toggle"=>"tooltip", "data-placement"=>"bottom", :title=>book.short_description}
  .row
    .col-sm-6
      = image_tag book.cover.thumbnail.url, class: "book-cover"
    .col-sm-6
      %h3.book-title= book.title
      %p.lead= book.short_description
      %h4.book-price= "$#{book.price}"
      = simple_form_for :add_to_cart, url: add_to_cart_book_path(book), method: :put do |f|
        %input#add_to_cart_quantity.numeric.integer.required.qty.form-control{:type=>"number", :step=>1, :name=>"add_to_cart[quantity]", :value=>1, :max=>book.books_in_stock, :min=>1}
        = button_tag(type: "submit", class: "btn btn-primary btn-sm") do
          %i.fa.fa-cart-plus
          = t ".add_to_cart"
