%table.table
  %thead
    %tr
      %th =t".book"
      %th =t".price"
      %th =t".qty"
      %th =t".total"
  %tbody
    - order.order_items.each do |order_item|
      %tr
        %td= link_to order_item.book.title, order_item.book
        %td= "$#{order_item.book.price}"
        %td= order_item.quantity
        %td= "$#{order_item.price}"


%hr/

%p
  =t ".order_total"
  %strong= "$#{order.total_price}"