- if current_or_guest_user.cart.order_items.exists?
  %h2= t".in_progress"
  = render "order", object: current_or_guest_user.cart

- if @orders.in_queue.exists?
  %h2= t".waiting_for_processing"
  = render "orders", object: @orders.in_queue

- if @orders.in_delivery.exists?
  %h2=t".in_delivery"
  = render "orders", object: @orders.in_delivery

- if @orders.delivered.exists?
  %h2=t".delivered"
  = render "orders", object: @orders.delivered
