.row.book-details
  .col-md-3
    = image_tag @book.cover.standard.url, class: "book-cover"
  .col-md-2
  .col-md-7
    %h1= @book.title
    %p= @book.description.html_safe

    = simple_form_for :add_to_cart, url: add_to_cart_book_path, method: :put, html: {class: "cart"} do |f|
      %input#add_to_cart_quantity.numeric.integer.required.qty.form-control{:type=>"number", :step=>1, :name=>"add_to_cart[quantity]", :value=>1, :max=>@book.books_in_stock, :min=>1}
      = button_tag(type: "submit", class: "btn btn-primary btn-lg") do
        %i.fa.fa-cart-plus
        = t ".add_to_cart"
    = link_to book_wish_list_books_path(@book), method: :post do
      %i.fa.fa-plus
      = t ".add_to_wish_list"

%h3= t ".ratings"
.row
  .col-md-6
    %ul.ratings
      = render partial: "rating", collection: @book.ratings.approved
      :javascript
        $(".rating-stars").raty({
          readOnly: true,
          score: function() {
            return $(this).attr('data-score');
          }
        });
  .col-md-6
    = render partial: "new_rating", locals: { new_rating: @new_rating, book: @book }
