= render partial: "details", locals: {book: @book}

.row
  .col-md-6
    %h4= t ".ratings"
    - if @book.ratings_approved.exists?
      %ul.ratings
        = render partial: "rating", collection: @book.ratings_approved
    - else
      %p= t".no_ratings"
  .col-md-6
    = render "new_rating", new_rating: @new_rating, book: @book

:javascript
  $(".rating-stars").raty({
    readOnly: true,
    score: function() {
      return $(this).attr('data-score');
    }
  });
  var bookDetailsBounce = new Bounce();
  bookDetailsBounce
    .scale({
      from: { x: 1, y: .7 },
      to: { x: 1, y: 1 },
      easing: "bounce",
      duration: 1000,
      delay: 0,
      bounces: 4
    })
    .scale({
      from: { x: .7, y: 1 },
      to: { x: 1, y: 1 },
      easing: "bounce",
      duration: 1000,
      delay: 0,
      bounces: 6
    });
  bookDetailsBounce.applyTo($(".book-details"));