.row.book-details
  .col-md-3
    = image_tag @book.cover.standard.url, class: "book-cover"
  .col-md-2
  .col-md-7
    %h1= @book.title
    %p= @book.description.html_safe
    = simple_form_for :add_to_cart, url: add_to_cart_book_path, method: :put, html: {class: "cart form-horizontal"}, wrapper: :horizontal_form do |f|
      = f.input :quantity, as: :integer, input_html: {value: 1, max: @book.books_in_stock}
      = f.button :submit, "Add to Cart", class: "btn btn-primary"

    = link_to "Add to wish list", book_wish_list_books_path(@book), method: :post

%h1 Ratings
.row
  .col-md-6
    = render partial: "rating", collection: @book.ratings.approved.latest
  .col-md-6
    %h2 Write your review
    = simple_form_for @new_rating, url: book_ratings_path(@book) do |f|
      = f.input :number
      = f.input :review
      = f.button :submit
