%h2= @book.title
= image_tag @book.cover
%p= @book.description
%strong= "Price: $#{@book.price}"
%strong= "Books in stock: #{@book.books_in_stock}"

= link_to "add to cart", add_to_cart_book_path(@book), method: :put