%nav.navbar.navbar-inverse
  .container-fluid
    .navbar-header
      %button.navbar-toggle.collapsed{"aria-expanded" => "false", "data-target" => "#bs-example-navbar-collapse-1", "data-toggle" => "collapse", :type => "button"}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      = link_to root_path, class: "navbar-brand" do
        = image_tag "logo.png", id: "logo"
    #bs-example-navbar-collapse-1.collapse.navbar-collapse
      %ul.nav.navbar-nav
        %li.active
          = link_to "Books", books_path
        %li
          = link_to "Authors", authors_path
        %li
          = link_to "Orders", orders_path
      %ul.nav.navbar-nav.navbar-right
        %li
          = link_to cart_path(:intro) do
            %i.fa.fa-shopping-cart
            = "Cart (#{current_user.cart.books_count} items) $#{current_user.cart.calculate_total_price}"
        %li
          = link_to edit_user_registration_path do
            Edit Profile
        %li= link_to "Sign Out", destroy_user_session_path, method: :delete