%nav.navbar
  .container-fluid
    .navbar-header
      %button.navbar-toggle.collapsed{"aria-expanded" => "false", "data-target" => "#bs-example-navbar-collapse-1", "data-toggle" => "collapse", :type => "button"}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      = link_to 'Bookstore', root_path, class: "navbar-brand"
    #bs-example-navbar-collapse-1.collapse.navbar-collapse
      %ul.nav.navbar-nav
        %li.active
          = link_to "Books", books_path
        %li
          = link_to "Authors", authors_path
        %li
          = link_to "Orders", orders_path
        %li.dropdown
          %a.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :href => "#", :role => "button"}
            Dropdown
            %span.caret
          %ul.dropdown-menu
            %li
              %a{:href => "#"} Action
            %li
              %a{:href => "#"} Another action
            %li
              %a{:href => "#"} Something else here
            %li.divider{:role => "separator"}
            %li
              %a{:href => "#"} Separated link
            %li.divider{:role => "separator"}
            %li
              %a{:href => "#"} One more separated link

      %ul.nav.navbar-nav.navbar-right
        %li
          .cart-contents
            %span.cart-items.glyphicon.glyphicon-shopping-cart
            %span.cart-items-total= 0
            .cart-content-list
              .cart-lower
                1
                2
        %li
          = link_to cart_path(:intro) do
            %i.fa.fa-shopping-cart
            = "Cart (#{current_user.cart.books_count} items) $#{current_user.cart.calculate_total_price}"
        %li
          = link_to edit_user_registration_path do
            %i.fa.fa-shopping-cart
            Edit Profile
        %li= link_to :sign_out, destroy_user_session_path, method: :delete