%nav.navbar.navbar-default
  .container-fluid
    .navbar-header
      %button.navbar-toggle.collapsed{"aria-expanded" => "false", "data-target" => "#bs-example-navbar-collapse-1", "data-toggle" => "collapse", :type => "button"}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      = link_to root_path, class: "navbar-brand" do
        = image_tag "logo.png", id: "logo"
    #bs-example-navbar-collapse-1.collapse.navbar-collapse
      %ul.nav.navbar-nav
        = active_link_to books_path, wrap_tag: :li do
          %i.fa.fa-book
          Books
        = active_link_to authors_path, wrap_tag: :li do
          %i.fa.fa-users
          Authors
      = form_tag books_path, method: :get, id: "search-form", class: "navbar-form navbar-left", role: "search" do
        .form-group
          %input.form-control{:type=>"text", :placeholder=>"Search", :name=>"search"}
        %button#search-button.btn.btn-default{:type=>"submit"}
          %i.fa.fa-search
      %ul.nav.navbar-nav.navbar-right
        - if can? :access, :rails_admin
          %li
            = link_to rails_admin_path do
              %i.fa.fa-tachometer
              Admin Panel
        = active_link_to cart_path(:intro), id: "cart", wrap_tag: :li do
          %i.fa.fa-shopping-cart
          = "(#{current_or_guest_user.cart.books_count}) #{number_to_currency current_or_guest_user.cart.total_price}"
        - if current_user
          %li.dropdown
            %a.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :href => "#", :role => "button"}
              = image_tag current_or_guest_user.avatar_url, width: 20, class: "img-circle"
              %span.caret
            %ul.dropdown-menu
              = active_link_to edit_user_registration_path, wrap_tag: :li do
                %i.fa.fa-pencil-square-o
                Edit Profile

              = active_link_to orders_path, wrap_tag: :li do
                %i.fa.fa-archive
                Orders

              = active_link_to wish_list_books_path, wrap_tag: :li do
                %i.fa.fa-book
                Wish list
              %li.divider{:role => "separator"}
              %li
                %a{:href=>"#", "data-toggle"=>"modal", "data-target"=>"#signOutModal"}
                  %i.fa.fa-sign-out
                  Sign Out
        - else
          %li
            = link_to new_user_session_path do
              %i.fa.fa-sign-in
              Sign In