= content_for :content do
  = render "layouts/top_menu"

  .container
    %ol.breadcrumb
      = render_breadcrumbs tag: :li, separator: ""
    .row
      .col-sm-3
        %aside
          %h3.categories-title Categories
          %ul.nav.nav-pills.nav-stacked
            - @categories.each do |category|
              = active_link_to category.title, category, wrap_tag: :li
      .col-sm-9
        = flash_messages(:close, :fade)
        = yield

  = render "layouts/logout_modal"

= render template: "layouts/application"