!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title MyBookstore
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    = render partial: "layouts/top_menu"

    .container
      .row
        .col-md-3
          - @categories.each do |category|
            = link_to category.title, category
            %br/
        .col-md-9
          - flash.each do |k,v|
            = content_tag :div, v, class: "flash #{k}"

          = yield
