!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title MyBookstore
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    = render partial: "layouts/top_menu"

    .container
      .row
        .col-sm-3
          %aside
            %h3.categories-title Categories
            %ul.nav.nav-pills.nav-stacked
              - @categories.each do |category|
                %li
                  = link_to category.title, category
        .col-sm-9
          - flash.each do |k,v|
            .alert.alert-info{:role=>"alert"}= v

          %ol.breadcrumb
            = render_breadcrumbs tag: :li, separator: ""

          = yield

  .modal#signOutModal
    .modal-dialog
      .modal-content
        .modal-header
          %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} ×
          %h4.modal-title Sign Out
        .modal-body
          %p Are you sure want to sign out?
        .modal-footer
          %button.btn.btn-default{"data-dismiss" => "modal", :type => "button"} Cancel
          = link_to destroy_user_session_path, method: :delete, class: "btn btn-primary" do
            %i.fa.fa-sign-out
            Sign Out